<header class="bg-slate-100 shadow-lg relative">
  <div class="contain w-[85%] m-auto flex justify-between items-center">
    <button
      type="button"
      title="Hamburger"
      class="lg:hidden text-2xl"
      (click)="toggleShow()"
    >
      <fa-icon [icon]="faHamburger"></fa-icon>
    </button>
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="flex items-center gap-2 whitespace-nowrap">
      <img [src]="brandLogo" class="w-14 h-14" alt="Brand Cinema" />
      <p class="font-serif">Cinema Center</p>
    </a>
    <!-- Menu - navigation bar-->
    <nav
      class="navbar hidden w-[50%] bg-gray-200 absolute top-full left-0 lg:static lg:block lg:bg-transparent"
      [class.active]="isShow"
    >
      <ul class="nav-list lg:flex lg:justify-between lg:items-center">
        <li class="nav-item">
          <a
            [routerLink]="['/']"
            [ngClass]="{ 'text-red-400': isRoute('/') }"
            class="nav-link block p-4 hover:text-red-400"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/manager']"
            [ngClass]="{ 'text-red-400': isRoute('manager') }"
            class="nav-link block p-4 hover:text-red-400"
            >Management</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/schedule']"
            [ngClass]="{ 'text-red-400': isRoute('schedule') }"
            class="nav-link block p-4 hover:text-red-400"
            >Schedule</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/ticket']"
            [ngClass]="{ 'text-red-400': isRoute('ticket') }"
            class="nav-link block p-4 hover:text-red-400"
            >Ticket</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/promotion']"
            [ngClass]="{ 'text-red-400': isRoute('promotion') }"
            class="nav-link block p-4 hover:text-red-400"
            >Promotion</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/about']"
            [ngClass]="{ 'text-red-400': isRoute('about') }"
            class="nav-link block p-4 hover:text-red-400"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/contact']"
            [ngClass]="{ 'text-red-400': isRoute('contact') }"
            class="nav-link block p-4 hover:text-red-400"
            >Contact</a
          >
        </li>
      </ul>
      <button title="Close" class="lg:hidden" (click)="closeHamburger()">
        <fa-icon
          [icon]="faClose"
          class="text-2xl text-gray-400 absolute top-2 right-2"
        ></fa-icon>
      </button>
    </nav>
    <!-- Profile Menu -->
    <div class="profile-menu">
      <ng-container *ngIf="!isAuthenticated; else authenticated">
        <ng-container *ngTemplateOutlet="notAuthenticated"></ng-container>
      </ng-container>
    </div>
  </div>
</header>

<ng-template #notAuthenticated>
  <ul class="flex gap-4">
    <li class="nav-item">
      <a
        [routerLink]="['/auth/login']"
        class="nav-link block px-8 py-1 text-white hover:bg-red-700 bg-red-600 border border-white rounded-full"
        >Login</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/auth/register']"
        class="nav-link block px-8 py-1 bg-slate-500 text-white hover:bg-slate-600 rounded-full border border-white"
        >Register</a
      >
    </li>
  </ul>
</ng-template>
<ng-template #authenticated>
  <ul class="flex justify-between items-center gap-2">
    <li class="profile-item">
      <a
        [routerLink]="['/profile']"
        class="profile-link flex items-center gap-2 p-4 hover:text-gray-500"
        ><fa-icon [icon]="faUser" class="cursor-pointer"></fa-icon> Welcome,
        {{ userInformation.username }}
      </a>
    </li>
    <li class="profile-item">
      <a
        (click)="logout()"
        class="profile-link cursor-pointer block p-4 hover:text-gray-500"
      >
        <fa-icon [icon]="faLogout"></fa-icon>
        Logout
      </a>
    </li>
  </ul>
</ng-template>
