<header class="bg-blue-500 text-white flex justify-between items-center">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="text-2xl font-bold px-4">Movie Threater</a>
  <!-- Menu - navigation bar-->
  <nav class="navbar">
    <ul class="nav-list flex justify-center items-center">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link block p-4 hover:bg-blue-700"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/manager']"
          class="nav-link block p-4 hover:bg-blue-700"
          >Management</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="" class="nav-link block p-4 hover:bg-blue-700"
          >Schedule</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="" class="nav-link block p-4 hover:bg-blue-700"
          >Ticket</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="" class="nav-link block p-4 hover:bg-blue-700"
          >Promotion</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/about']"
          class="nav-link block p-4 hover:bg-blue-700"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/contact']"
          class="nav-link block p-4 hover:bg-blue-700"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
  <!-- Profile Menu -->
  <div class="profile-menu">
    <ng-container *ngIf="!isAuthenticated; else authenticated">
      <ng-container *ngTemplateOutlet="notAuthenticated"></ng-container>
    </ng-container>
  </div>
</header>

<ng-template #notAuthenticated>
  <ul class="flex justify-between items-center">
    <li class="profile-item">
      <a
        [routerLink]="['/auth/login']"
        class="profile-link block p-4 hover:bg-blue-700"
        >Login</a
      >
    </li>
    <li class="profile-item">
      <a
        [routerLink]="['/auth/register']"
        class="profile-link block p-4 hover:bg-blue-700"
        >Register</a
      >
    </li>
  </ul>
</ng-template>
<ng-template #authenticated>
  <ul class="flex justify-between items-center gap-2">
    <li class="profile-item">
      <a
        [routerLink]="['/profile']"
        class="profile-link flex items-center gap-2 p-4 hover:bg-blue-700"
        ><fa-icon [icon]="faUser" class="cursor-pointer"></fa-icon> Welcome,
        {{ userInformation.username }}
      </a>
    </li>
    <li class="profile-item">
      <a
        (click)="logout()"
        class="profile-link cursor-pointer block p-4 hover:bg-blue-700"
      >
        <fa-icon [icon]="faLogout"></fa-icon>
        Logout
      </a>
    </li>
  </ul>
</ng-template>
