<div class="movie-list grid grid-cols-4 grid-rows-3 gap-12 mt-12">
  <div class="movie-item relative" *ngFor="let item of combineMovies">
    <img [src]="item.image" class="w-72 h-72 rounded-md shadow-md" alt="" />
    <button
      type="button"
      class="absolute top-[75%] w-full h-[35px] overflow-hidden text-lg text-center z-10 bg-gray-400 text-white hover:bg-gray-500"
      (click)="getTicket()"
    >
      Get Ticket
    </button>
    <p class="flex justify-between mt-2 text-gray-400">
      <span>Version: {{ item.version }}</span>
      <span>Duration:{{ item.duration }}</span>
    </p>
    <h2 class="">
      {{ item.name }}: {{ item.movieCompany }} (Start: {{ item.fromDate }})
    </h2>
  </div>
</div>
