<aside class="w-[250px] border-r border-slate-300 shadow-md min-h-screen">
    <div class="menu-header border-b border-slate-300 text-2xl font-semibold p-3">
        <i class="fa-solid fa-gauge-high"></i> Dashboard
    </div>
    <ul class="menu-list">
        <li class="menu-item"><a [routerLink]="['/manager/movies']" class="menu-link block hover:bg-blue-500 hover:text-white p-3">Movie Manager</a></li>
        <li class="menu-item"><a [routerLink]="['/manager/cinemarooms']" class="menu-link block hover:bg-blue-500 hover:text-white p-3">Cinema Room Manager</a></li>
        <li class="menu-item"><a [routerLink]="['/manager/employees']" class="menu-link block hover:bg-blue-500 hover:text-white p-3">Employee Manager</a></li>
        <li class="menu-item"><a [routerLink]="['/manager/roles']" class="menu-link block hover:bg-blue-500 hover:text-white p-3">Role Manger</a></li>
        <li class="menu-item"><a [routerLink]="['/manager/accounts']" class="menu-link block hover:bg-blue-500 hover:text-white p-3">Account Manager</a></li>
    </ul>
</aside>