<aside
  class="w-[250px] bg-gray-50 border-r border-slate-400 shadow-md min-h-screen"
>
  <div class="menu-header border-b border-slate-300 text-2xl font-semibold p-2">
    <i class="fa-solid fa-gauge-high"></i> MovieTheater
  </div>
  <ul class="menu-list">
    <li class="menu-item">
      <a
        [routerLink]="['/manager/movies']"
        [ngClass]="{
          'bg-gray-300': isActive('/manager/movies')
        }"
        class="menu-link flex items-center gap-5 hover:bg-blue-800 hover:text-white p-2"
      >
        <fa-icon [icon]="movieIcon" class="text-xl"></fa-icon>
        Movie Manager
      </a>
    </li>
    <li class="menu-item">
      <a
        [routerLink]="['/manager/cinema']"
        [ngClass]="{
          'bg-gray-300': isActive('/manager/cinema')
        }"
        class="menu-link flex items-center gap-4 hover:bg-blue-800 hover:text-white p-2"
      >
        <fa-icon [icon]="cinemaIcon" class="text-xl"></fa-icon>
        Cinema Manager</a
      >
    </li>
    <li class="menu-item">
      <a
        [routerLink]="['/manager/roles']"
        [ngClass]="{
          'bg-gray-300': isActive('/manager/roles')
        }"
        class="menu-link flex items-center gap-5 hover:bg-blue-800 hover:text-white p-2"
      >
        <fa-icon [icon]="roleIcon" class="text-xl"></fa-icon>
        Role Manager
      </a>
    </li>
    <li class="menu-item">
      <a
        [routerLink]="['/manager/accounts']"
        [ngClass]="{
          'bg-gray-300': isActive('/manager/accounts')
        }"
        class="menu-link flex items-center gap-5 hover:bg-blue-800 hover:text-white p-2"
      >
        <fa-icon [icon]="userIcon" class="text-xl"></fa-icon>
        User Manager
      </a>
    </li>
  </ul>
</aside>
