<div class="my-3">
  <table class="w-full border-collapse rounded-md text-center">
    <thead>
      <tr class="*:border-2 p-2">
        <th>No</th>
        <th *ngFor="let item of columns">{{ item.title }}</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index" class="*:border-2 *:p-2">
        <td>{{ i + pageInfo?.number * pageInfo?.size + 1 }}</td>
        <td *ngFor="let column of columns">{{ item[column.name] }}</td>
        <td>
          <div class="action flex gap-3 justify-center">
            <button type="submit" title="Edit" (click)="onEdit(item.id)">
              <fa-icon [icon]="faEdit" class="text-green-500"></fa-icon>
            </button>
            <button type="submit" title="Delete" (click)="onDelete(item.id)">
              <fa-icon [icon]="faDelete" class="text-red-500"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination flex justify-between items-center border-b-2 py-2">
    <!-- Page Size  -->
    <div class="page-size">
      <label for="page-size">Page Size</label>
      <select
        (change)="onChangeSize($event)"
        id="page-size"
        class="border-2 cursor-pointer ml-1 p-1 rounded-md"
      >
        <option *ngFor="let size of pageSizes" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <!-- Page item -->
    <div class="page-item">
      <ul class="page-list flex gap-2">
        <li class="page-item">
          <button
            title="Page Item"
            [ngClass]="{
              'pointer-events-none bg-blue-500 text-white': currentPage == 0
            }"
            (click)="onChangeNumber(0)"
            class="border border-slate-400 px-2 rounded-full hover:bg-blue-500 hover:text-white"
          >
            <fa-icon [icon]="faDoubleLeft"></fa-icon>
          </button>
        </li>
        <li class="page-item">
          <button
            title="Page Item"
            [ngClass]="{
              'pointer-events-none bg-blue-500 text-white': currentPage == 0
            }"
            class="border border-slate-400 px-2 rounded-full hover:bg-blue-500 hover:text-white"
            (click)="onChangeNumber(currentPage - 1)"
          >
            <fa-icon [icon]="faLeft"></fa-icon>
          </button>
        </li>
        <li class="page-item" *ngFor="let item of getPageList()">
          <button
            title="Page Item"
            [ngClass]="{ 'bg-blue-500 text-white': currentPage == item }"
            class="border border-slate-400 px-2 rounded-full hover:bg-blue-500 hover:text-white"
            (click)="onChangeNumber(item)"
          >
            {{ item + 1 }}
          </button>
        </li>
        <li class="page-item">
          <button
            title="Page Item"
            [ngClass]="{
              'bg-blue-500 text-white pointer-events-none':
                currentPage == pageInfo?.totalPages - 1
            }"
            class="border border-slate-400 px-2 rounded-full hover:bg-blue-500 hover:text-white"
            (click)="onChangeNumber(currentPage + 1)"
          >
            <fa-icon [icon]="faRight"></fa-icon>
          </button>
        </li>
        <li class="page-item">
          <button
            title="Page Item"
            [ngClass]="{
              'bg-blue-500 text-white pointer-events-none':
                currentPage == pageInfo?.totalPages - 1
            }"
            class="border border-slate-400 px-2 rounded-full hover:bg-blue-500 hover:text-white"
            (click)="onChangeNumber(pageInfo?.totalPages - 1)"
          >
            <fa-icon [icon]="faDoubleRight"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
    <!-- Page detail -->
    <div class="page-detail">
      <span>{{ pageInfo?.size * pageInfo?.number + 1 }} - </span>
      <span
        >{{
          (pageInfo?.number + 1) * pageInfo?.size > pageInfo?.totalElements
            ? pageInfo?.totalElements
            : (pageInfo?.number + 1) * pageInfo?.size
        }}
        of
      </span>
      <span>{{ pageInfo?.totalElements }}</span>
    </div>
  </div>
</div>
