<div class="contain w-[85%] m-auto my-8">
  <h2 class="text-center text-2xl font-medium">Ticket Price</h2>
  <p class="text-center">Giá vé (Áp dụng từ ngày 01/01/2025)</p>

  <div class="2D my-4">
    <h3 class="mb-1">1. GIÁ VÉ XEM PHIM 2D</h3>
    <table class="w-full border-collapse bg-gray-50">
      <thead>
        <tr class="*:p-3 *:border *:border-slate-400">
          <th colspan="4">Monday to Friday</th>
          <th colspan="3">Weekend and Holiday</th>
        </tr>
        <tr class="*:p-3 *:border *:border-slate-400">
          <th>Thời gian</th>
          <th class="text-gray-400">Standard</th>
          <th class="text-yellow-400">VIP</th>
          <th class="text-red-500">Sweetbox</th>
          <th class="text-gray-400">Standard</th>
          <th class="text-yellow-400">VIP</th>
          <th class="text-red-500">Sweetbox</th>
        </tr>
      </thead>
      <tbody>
        <tr class="*:p-3 *:border *:border-slate-400">
          <td>Before 12PM</td>
          <td class="text-gray-400">55.000đ</td>
          <td class="text-yellow-400">65.000đ</td>
          <td class="text-red-500">140.000đ</td>
          <td class="text-gray-400">70.000đ</td>
          <td class="text-yellow-400">80.000đ</td>
          <td class="text-red-500">170.000đ</td>
        </tr>
        <tr class="*:p-3 *:border *:border-slate-400">
          <td>From 5PM to before 11:00PM</td>
          <td class="text-gray-400">75.000đ</td>
          <td class="text-yellow-400">85.000đ</td>
          <td class="text-red-500">160.000đ</td>
          <td class="text-gray-400">60.000đ</td>
          <td class="text-yellow-400">85.000đ</td>
          <td class="text-red-500">190.000đ</td>
        </tr>
        <tr class="*:p-3 *:border *:border-slate-400">
          <td>From 5PM to before 11:00PM</td>
          <td class="text-gray-400">65.000đ</td>
          <td class="text-yellow-400">95.000đ</td>
          <td class="text-red-500">130.000đ</td>
          <td class="text-gray-400">80.000đ</td>
          <td class="text-yellow-400">95.000đ</td>
          <td class="text-red-500">185.000đ</td>
        </tr>
        <tr class="*:p-3 *:border *:border-slate-400">
          <td>From 11:00PM</td>
          <td class="text-gray-400">60.000đ</td>
          <td class="text-yellow-400">90.000đ</td>
          <td class="text-red-500">120.000đ</td>
          <td class="text-gray-400">60.000đ</td>
          <td class="text-yellow-400">75.000đ</td>
          <td class="text-red-500">175.000đ</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
