<div class="role-service p-3">
  <div class="card border bg-gray-50 border-slate-400 rounded-md">
    <div class="card-header">
      <h1 class="text-2xl text-center font-medium border-b-2 p-2">
        Role Management
      </h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body border-b-2 p-2">
        <div class="form-group">
          <label for="keyword" class="block mb-1">Search role</label>
          <input
            type="text"
            formControlName="keyword"
            id="keyword"
            placeholder="Enter keyword"
            class="w-full rounded-sm p-1 border border-slate-400"
          />
        </div>
      </div>
      <div class="card-footer flex justify-between p-2">
        <button
          type="button"
          (click)="onCreate()"
          class="p-2 bg-green-500 text-white rounded-full"
        >
          <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>Create
        </button>
        <button type="submit" class="p-2 bg-blue-500 text-white rounded-full">
          <fa-icon [icon]="faSearch" class="mr-1"></fa-icon>Search
        </button>
      </div>
    </form>
  </div>
  <!-- list -->
  <div class="mt-4">
    <app-table
      [data]="data"
      [currentPage]="currentPage"
      [pageSizes]="pageSizes"
      [pageLimit]="pageLimit"
      [columns]="columns"
      [pageInfo]="pageInfo"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (changeSize)="onChangeSize($event)"
      (changeNumber)="onChangeNumber($event)"
    ></app-table>
  </div>
  <!-- details -->
  <div class="details mt-4">
    <app-role-details
      *ngIf="isShow"
      [isEdit]="isEdit"
      [dataEdit]="dataEdit"
      (cancel)="onCancelDetail()"
    >
    </app-role-details>
  </div>
</div>
